<div style="min-height: 10vh;border-bottom: 1px solid #ddd; padding-bottom: 10px;">
  <h1 style="text-align: center;">{{title}}</h1>
  <div class="buttonsDiv">    
    <img  style="width: 18px; margin-right: 10px;cursor: pointer;" src="../assets/images/pen.png" (click)="saveNote()"/>
    <i  style="margin-right: 10px;cursor: pointer;" class="material-icons" (click)="deleteNote()">delete</i>        
    <input style="border: none; outline: none;background: #ddd;padding-left: 15px;border-radius: 5px;" type="text" placeholder="Search" name="searchField" 
      autoComplete='false' (input)="onChangeSearchFieldCharacters($event)" />
  </div>
</div>

<div class="separationDiv">
  <div style="width: 30%; overflow: scroll; scrollbar-width: thin; border-right: 1px solid #ddd;">
    
    <!-- <app-left-side [notesFromRightSide]='receivedNotes' [key]='index' [savedNotesArr]='notesArr' -->
      <!-- (clickedNote)="showNoteOnRightSide($event)"></app-left-side> -->

      <app-left-side [notesFromRightSide]='receivedNotes' [savedNotes]='notesArr'
      (clickedNote)="showNoteOnRightSide($event)"></app-left-side>

  </div>
  <div style="width: 70%">

    <app-right-side [onClickedNote]='noteToBeShownOnRightSide' (messageToEmit)="getNotesData($event)" 
      [noteCreated]='isNoteCreated'></app-right-side>
  </div>

</div>

<!-- <router-outlet></router-outlet> -->